
.cell {
  display: flex;
  border: solid 1px black;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.stone {
  border-radius: 30px;
  background-color: white;
  width: 56px;
  height: 56px;
}